<h2 mat-dialog-title>AUTHOR INFO</h2>

<mat-dialog-content *ngIf="(author$ | async) as author">
    <mat-label>Name</mat-label> 
    <div ngClass="propertyValue">
        {{ author.name }}
    </div>
    <mat-label>Email</mat-label>
    <div ngClass="propertyValue">
        {{ author.email }}
    </div>
</mat-dialog-content>

<mat-dialog-actions ngClass="card-actions"> 
    <button 
        mat-stroked-button 
        mat-dialog-close 
        ngClass="closeButton">CLOSE
    </button>
</mat-dialog-actions>